<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<%= @space.name %><br>
<%= @space.description %><br>
<%= @space.price %><br>


  

  <form action='/spaces'>
    <label>Book</label> <br>
    <input type="date" name="date" rows="1" cols="71"><br>
    <input type='submit' value='Book Space'>
  </form>
  <br>

  <form action='/spaces'> <input type='submit' value='Return to spaces'> </form> 
</body>
</html>