<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The High Fives BNB</title>
  </head>
  <body>
    <h1>The High Fives BNB</h1>
      <div id="quotes">
        The best BNB in London
      </div><br>
      <%= $name %>
      
<form action='/login'> <input type='submit' value='login'> </form> 
<form action='/new_space'> <input type='Submit' value='List New Space'> </form>
    
  
    </body>
</html>