<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h2>Please sign in below</h2>
    <form id="signInForm">
        <label for="signingIn">Name</label><br>
        <input type="text" id="user" placeholder="Your Name">
    </form>
    <script>
        function submitToHomepage() {
            window.location.href = "/"
}
    </script>
    
    <button onclick="submitToHomepage()", id="change">Submit</button>
</body>
</html>
