<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action='/new_space' method='post'>
    <label>Space Name</label> <br>
    <input type="text" name="space_name" rows="1" cols="70"><br> 
    <label>Description</label> <br>
    <input type="text" name="description" rows="5" cols="90"><br>
    <label>Price</label> <br>
    <input type="text" name="price" rows="1" cols="71"><br>
    <label>Available dates</label> <br>
    <input type="text" name="dates" rows="1" cols="71"><br>
    <input type='submit' value='Post Space'>
  </form>
</body>
</html>