<!DOCTYPE html>
<html>
<head>
    <h1> Makers Air BnB </h1>
    <br>
</head>
<body>
  <form action="/users/new" method="post">
    <input type="text" placeholder ="name" name="name"/>
    <input type="text" name="email"/>
    <input type="text" name="password"/>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>